.Link{
    font-size: 24px;
    color: #333;
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.app__postdetail {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 4rem;
}

.app__postdetail-container {
    background: #fff;
    padding: .5rem;
    border: 10px double green;
    text-align: center;
}

.app__postdetail-img {
    background-color: #eee;
    float: left;
    width: 300px;
    height: 300px;
    padding: 1rem;
    margin: .5rem;
    border: 1px solid lightgray;
    border-radius: 15px;
}

.app__postdetail-img img{
    width: 100%;
    height: 100%;
}

.app__postdetail-desc{
    padding: 1rem;
    text-align: justify;
    font-size: 18px;
    line-height: 26px;
}

.app__postdetail-desc span{
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
}

/*************MEDIA QUERIES*****************/

@media screen and (max-width: 790px) {
    .app__postdetail {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 650px) {
    .Link{
        display: block;
    }
    .app__postdetail {
        padding: 1rem;
    }
}

@media screen and (max-width: 390px) {
    .app__postdetail-img {
        width: 250px;
        height: 250px;
    }
}